@import "styles/authenticationPages";
@import "styles/header";
@import "styles/footer";

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

*:focus {
  outline: none;
}

.size-container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #53BE4F;
  color: #fff;
  font-weight: 100;
  border-radius: 30px;
  border: 0;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff !important;
  }
}

.btn:hover {
  background: #59df55;

  color: #fff !important;
}

.ant-switch {
  height: 45px !important;
  width: 101px;
  background: rgba(191, 191, 191, 0.25) !important;
  &:after {
    width: 41px !important;
    height: 41px !important;
    background-color: #53BE4F !important;
    border-radius: 50% !important;
  }
}

.ant-switch-checked {
  background: #53BE4F !important;
  &:after {
    background-color: #fff !important;
  }
}

a:focus {
  text-decoration: none !important;
}

//------------------------------------
//-------------FORMS-----------------
//------------------------------------
.separate-form {
  width: 60%;
  position: relative;
  max-width: 766px;
  margin: 0 auto;
  padding: 40px 10%;
  background-color: #FFFFFF;
  box-shadow: 0 3px 23px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;

  .go-back-btn {
    position: absolute;
    left: 60px;
    top: 45px;

    color: #53BE4F;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;

    i {
      margin: 0 5px 0 0;
    }
  }

  .logo {
    text-align: center;
  }

  .form-title {
    width: 100%;
    margin: 30px 0 35px 0;
    display: flex;
    align-items: center;

    hr {
      flex: 1;
      border-bottom: 0 solid rgba(151, 151, 151, 0.56);
    }

    span {
      margin: 0 15px;
      color: #464646;
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .form-item {
    margin: 0 0 15px 0;

  }

}

.form-item {
  display: flex;
  flex-direction: column;

  label {
    margin: 0 0 10px 0;
    opacity: 0.9;
    color: #464646;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  input {
    height: 47px;
    padding: 0 20px;
    border-radius: 23px;
    border: 0;
    background-color: rgba(191, 191, 191, 0.25);
    font-size: 14px;
  }

  input::placeholder,
  .ant-select-selection__placeholder {
    color: #464646;
    font-family: Roboto;
    font-weight: normal;
  }

  .ant-select-selection--single {
    height: 47px;
    padding: 0 20px;
    border-radius: 23px;
    border: 0;
    background-color: rgba(191, 191, 191, 0.25);
    font-size: 14px;

    input {
      padding: 0;
    }
  }

  .ant-cascader-picker-arrow,
  .ant-select-arrow-icon {
    color: #53BE4F;
  }

  .ant-select-selection__rendered {
    height: 100%;
    margin: 0;
  }

  .ant-select-open .ant-select-selection {
    box-shadow: none;
  }

  .ant-select-selection-selected-value {
    height: 100%;
    line-height: 47px;
  }

  .ant-select-selection:focus {
    box-shadow: none;
  }

  &.checkbox {
    flex-direction: row;
    align-items: center;

    label {
      margin: 0 0 0 20px !important;
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }
}

//------------------------------------
//-----------USER TABLE---------------
//------------------------------------
.user-table {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;

  .ant-table-thead th {
    background: rgba(224, 224, 224, 0.5);
    color: #464646;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;

    &:first-child {
      border-top-left-radius: 20px !important;
    }
    &:last-child {
      border-top-right-radius: 20px !important;
    }
  }

  .ant-table-tbody {

    tr {
      td {
        padding: 10px 16px;
        color: #464646;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 1.4px;
      }
    }

    tr:hover {
      td {
        background: #53BE4F !important;
        color: #fff;

      }
    }

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }

    i.anticon-right {
      color: #53BE4F;
      font-size: 16px;
    }
    i.anticon-arrow-right {
      color: #fff;
      font-size: 18px;
    }
  }
}